.bookPreviewCnt{
  .infoBox{
    margin-top: 50px;
    h1{font-size:38px;color:#f81157;}
    h2{font-size:24px;color:#747474;}
  }
  .btnBox{
  	margin-top:50px;
  }
}
.bookEditCnt{
  .bookEdit{
    margin-top: 50px;
  }
	.btnBox{
		margin-top:50px;	
	}
}