.balanceBox .ui-form{
    display: inline-block;
    margin: 10px auto;
}
.userDetailBox{
    .ui-form{
        display: inline-block;
        margin: 10px auto;
    }
    .pic{
        width: 200px;
    }
}
.adminBalanceDetailCnt{
    .ui-form .ui-form-label{width: 120px;}
    .ui-form .ui-form-group{margin-left: 130px;}
}